@font-face {
   font-family: "PT Serif Caption";
   src: url(../fonts/PTSerifCaption-Regular.ttf);
}

@font-face {
   font-family: "Nunito";
   src: url(../fonts/Nunito-Bold.ttf);
}

@font-face {
   font-family: "PT Mono";
   src: url(../fonts/PTMono-Regular.ttf);
}

@font-face {
   font-family: "Sedgwick Ave Display";
   src: url(../fonts/SedgwickAveDisplay-Regular.ttf);
}

@font-face {
   font-family: "Pragati Narrow";
   src: url(../fonts/PragatiNarrow-Regular.ttf);
}

@font-face {
   font-family: "Post No Bills Jaffna";
   src: url(../fonts/PostNoBillsJaffna-Regular.ttf);
}

@font-face {
   font-family: "Philosopher";
   src: url(../fonts/Philosopher-Regular.ttf);
}
